.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-image p {
  margin: 0;
}


.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.home .cards ul {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (width >= 960px) {
  .home .cards ul {
    display: grid;
    grid-template-columns: none;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
  }
}


.home .cards > ul {
  display: flex;
  flex-direction: column;
}

.home .cards  > ul > li:nth-child(1) {
  width: 100%;
  background-color: #171C29;
  color: #fff;
}

.home .cards .cards-card-image {
  padding: 0;
}

.home .cards > ul > li:nth-child(2) > .cards-card-image {
  padding: 20px 40px;
  width: 70%;
  }


@media (width >= 960px) {
  .home .cards > ul {
    display: grid;
  }

  .div1 { grid-area: 1 / 1 / 3 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }

  .home .cards > ul > li {
    border: none;
  }
  

  .home .cards > ul > li:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2; 
    max-width: 400px;
    background-color: #171C29;
    color: #fff;
  }

  .home .cards > ul > li:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #CBE7F0;
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
  }
      
.home .cards > ul > li:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #CBE7F0;
    display: flex;
    flex-direction: row;
  }
}

.home .cards .cards-card-body {
  margin-block: 40px 0;
  margin-left: 40px;
  margin-right: 40px;
}

.home .cards .cards-card-image img {
  object-fit: cover;
  max-height: 280px;
}

.home .cards > ul > li:nth-child(2) img {
  object-fit: contain;
  width: 100%;
}

.home .cards > ul > li:nth-child(3) img {
  object-fit: cover;
  width: 386px;
  height: 280px;
}