main .hero-container > div {
  max-width: 1920px;
}
  
main .hero-container {
  padding: 0;
}

main .hero {
  position: relative;
  padding: 32px;
  min-height: 390px;
  color: var(--background-color);
}

main .hero .hero-body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  color: white;
  position: relative;
  z-index: 1;
}

main .hero h1 {
  max-width: 1280px;
  margin: 106px auto 0;
  color: white;
  font: normal normal normal 48px/52px adobe-clean, sans-serif;
}

main .hero h2 {
  max-width: 1280px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font: normal normal 900 48px/52px adobe-clean, sans-serif;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero picture::after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block; 
  background: linear-gradient(to right, rgba(0 0 0 / 50%) 40%, rgba(0 0 0 / 0%))
}

main .hero img {
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  height: 100%;
}

@media (width >= 1280px) {
  main .hero img {
    object-fit: cover;
    object-position: 0 -250px;
    width: 100%;
    height: 100%;
  }
}

.hero [data-align="center"] {
  text-align: center;
}

