.section > .feature-wrapper {
    margin: 80px auto 0px;
    max-width: 1920px;
    
  }
  
  .feature {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  .feature-content-container {
    color: #fff;
    height: 500px;
  }
  
  .feature-content-container div {
    position: relative;
    z-index: 4;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 100px;
    text-align: center;
    justify-content: space-around;
  }

  @media (width >= 1280px) {
    .feature {
      flex-basis: 50%;
      flex-direction: row;
    }
  
    .feature-content-container {
    flex-basis: 50%;
    }
  }
  

  .feature-cta-container {
    z-index: 6;
    background-color: #171C29;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    flex-basis: 50%;
    margin: 50px 0px 50px 0px;
    height: 400px;
    padding: 50px 100px;
    box-sizing: border-box;
  } 
  .feature-cta-container h3 {
    margin: 0;
  }
  
  .feature-cta-container p {
    margin: 0;
  }
  
  .feature-cta-container h3 + p {
    margin: 0;
    font-size: 36px;
  
  }
  
  .feature-cta-container p strong {
    font-size: 115px;
    margin: 0;
    line-height: 115px;
  }
  

  